@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-ExtraBold.woff2') format('woff2'),
        url('../fonts/Raleway-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
h2{
    font-family: 'Raleway';  
}
section{
    background-color: cornflowerblue;
}
.section2{
    background-color: darkblue;
}